*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
:root{
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #135D66;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
width: 0.8rem;
}
html::-webkit-scrollbar-track{
background: var(--bg-color);
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
}


/* navbar style code below */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0,0,0,0.7);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    color: var(--text-color);
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.5rem;
    margin-left: 4rem;
    font-weight: 500;
    color: var(--text-color);
    transform: 0.3s ease;
    border-bottom: 2px solid transparent;
}
nav a:hover,nav a.active{
    color: var(--main-color);
    border-bottom: var(--main-color);
}

 #menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

@media screen and (max-width:995px) {
    #menu-icon{
        display: block;
    }

    nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0, 0.4);
        display: none;
    }

    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        /* text-decoration: none; */
    }

    nav a:hover,nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}

